<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>DataBotti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='Logo.png') }}">
</head>
<body class="landing">
    <header class="header">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo" class="logo">
            <img src="{{ url_for('static', filename='Botti_name.png') }}" alt="DataBotti" class="logo-text">
        </div>
    </header>
    <h1>Willkommen bei DataBotti</h1>
    <p>Dein KI-Assistent für die Analyse von CSV-Daten.</p>
    <p>
        <form action="{{ url_for('auth.login') }}" method="get">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn-login">Zum Login</button>
        </form>
    </p>
    {% if session.get('user_id') %}
    <p>
        <form action="{{ url_for('app_dashboard') }}" method="get">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn-login">Zur App</button>
        </form>
    </p>
    {% endif %}
</body>
</html>
